@use "../../styles/mixins" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(20px, 3vw, 56px);
  height: 52px;
  border-top: 1px solid var(--border);
  background: var(--bg);
  margin-top: auto;
  background-color: var(--theme-footer-bg);

  @include large-desktop {
    height: 64px;
  }

  @include small-mobile {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: auto;
    padding: 12px 24px;
  }

  &__copy,
  &__note {
    font-size: 12px;
    color: var(--theme-footer-copy);

    @include large-desktop {
      font-size: 14px;
    }
  }

  &__note {
    opacity: 0.7;
  }
}
